.checkboxIcon {
    width: 26px;
    height: 26px;
    stroke-width: 2;
    color: var(--filter-icons);
}

#closeButton {
    width: 32px;
    height: 32px;
}

#slidersIcon {
    color: #fff !important;
}