@import "tailwindcss";

/* Define the CSS variable at :root for global access */
:root {
  --mongo-green: #00684A;
  --mongo-green-light: #00ED64;
  --background-mongo: #F9FBFA;
  --header-text: #001e2bc8;
}

body {
  overflow-x: hidden;
  background-color: #F9FAFB;
}

/* "pr" class stands for profit radar */

.bg-mongo {
  /* background-color: #C4D8E1; */
  background-color: var(--background-mongo) !important;
}

.mongo-green {
  background-color: #00684A;
}

.mainPading {
  padding: 0px 24px;
}

.text-amazon {
  color: #161d26;
}

.hover-copart {
  bacground: #FF6200
}

.pr-card {
  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  @apply shadow-lg my-5 p-7 md:p-10;
  border-radius: 8px;
}

.footer-header {
  color: var(--header-text);
  font-size: 16px;
  font-weight: 500;
}