@import "tailwindcss";

/* "pr" class stands for profit radar */

.bg-amazon {
  background-color: #C4D8E1;
}

.mainPading {
  padding: 0px 24px;
}

.text-amazon {
  color: #161d26;
}

.hover-copart {
  bacground: #FF6200
}

.pr-card {
  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  @apply shadow-lg my-5 p-7 md:p-10;
  border-radius: 8px;
  /* padding: 40px; */
}