@import "tailwindcss";

/* Define the CSS variable at :root for global access */
:root {
  --mongo-green: #00684A;
  --background-mongo: #F9FBFA;
}

body {
  overflow-x: hidden;
}

/* "pr" class stands for profit radar */

.bg-mongo {
  /* background-color: #C4D8E1; */
  background-color: #F9FBFA;
}

.mongo-green {
  background-color: #00684A;
}

.mainPading {
  padding: 0px 24px;
}

.text-amazon {
  color: #161d26;
}

.hover-copart {
  bacground: #FF6200
}

.pr-card {
  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  @apply shadow-lg my-5 p-7 md:p-10;
  border-radius: 8px;
  /* padding: 40px; */
}